<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">4SH technical test</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/movements" routerLinkActive="active" ariaCurrentWhenActive="page">
            Movements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/in" routerLinkActive="active" ariaCurrentWhenActive="page">
            Entrée
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/out" routerLinkActive="active" ariaCurrentWhenActive="page">
            Sortie
          </a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container m-5">
  <router-outlet></router-outlet>
</div>
